<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> staffLayout}}
    <main class="content-detail" id="common_content-area">
        <a href="/courses" type="button" class="btn btn-link fs-5">
            <i class="bi bi-arrow-return-left" style="margin-right: 5px;"></i>Back
        </a>
        <form class="row g-3 mt-4" method="POST" action="/courses/update/?id={{data1._id}}">
            <div class="col-md-6">
                    <label for="codeCourse">Code</label>
                    <input type="text" value="{{data1.code}}" class="form-control" id="codeCourse" name="code" placeholder="Code of Course..." required>
                </div>
                <div class="col-md-6">
                    <label for="couseName">Course Name</label>
                    <input type="text" value="{{data1.name}}" class="form-control" id="name" name="name" placeholder="Course Name..." required>
                </div>

                <div class="col-md-6">
                <label for="category" class="form-label">Category Name</label>
                <select name="category" id="categoryname" class="form-select">
                    {{#each data}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/each }}
                </select>
                </div>
        
                <div class="col-md-6">
                    <label for="session">Session</label>
                    <input type="number" value="{{data1.session}}" class="form-control" id="session" name="session" placeholder="Session of Course..." required>
                </div>
                <div class="col-6">
                    <label for="update">UpdateAt</label>
                    <input type="date" value="{{convertDate data1.updateAt}}" class="form-control" id="update" name="updateAt" placeholder="Update At..." required>
                </div>
                <div class="col-6">
                    <label for="create">CreateAt</label>
                    <input type="date" value="{{convertDate data1.createAt}}" class="form-control" id="create" name="createAt" placeholder=" CreateAt..." required>
                </div>
                <div class="col-md-6">
                    <label for="courseDescription">Course Description</label>
                    <textarea class="form-control" id="courseDescription" name="description" placeholder="Course Description..." required>{{data1.description}}</textarea>
                </div>
            <div class="col-12 mt-5" style= "text-align: center">
                <button type="submit" class="btn btn-primary fs-5" style="font-weight: 500;">Update
                    <i class="bi bi-check2 fs-5"></i>
                </button>
            </div>
        </form>
    </main>
{{> bottom}}
</body>
</html>