<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> staffLayout}}
    <main class="content-detail" id="">
        <h3 class="fs-4 mt-5">Categories (~ {{total}} records)</h3>
        <div class="content-detail-header mt-4">
            <button type="button" class="btn btn-primary fs-5 js-add-info" style="font-weight: 500;">New Category</button>
            <form action="/categories/search" class="content-detail-header-search" method="GET">
                <input type="search" name="q" class="form-control" placeholder="Search by name..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <button style="width: 90px;" class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <table class="table table-hover table-bordered caption-top mt-5">
            <thead class="table-light">
                <tr style="font-size: 18px; text-align: center;">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Total Course</th>
                    <th scope="col"><i class="bi bi-tools fs-5"></i><span style="margin-left: 12px;">Action</span></th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr style="font-size: 18px; text-align: center;">
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.total}}</td>
                    <td>
                        <div class="btn-group" style="z-index: 0;" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-success js-edit-info">
                                <i class="bi bi-pencil-square"></i>
                                <a class ="underline-white" href="/categories/edit?id={{this._id}}">
                                    <span class=" fs-6" style="margin-left: auto;">Edit</span>
                                </a>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <i class="bi bi-x-lg"></i>
                                <a class ="underline-white" href="/categories/delete/?id={{this._id}}", onclick="return conFirm_Delete()">
                                    <span class=" fs-6" style="margin-left: auto;">Delete</span>
                                    <script>
                                        function conFirm_Delete(){
                                        var result = confirm("Are you sure you want to delete this category?")
                                        if(result==true)  return true;
                                        else return false
                                        }
                                    </script>
                                </a>
                            </button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </main>

    <div class="modal-action_form js-modal-adding_form">
        <div class="modal-action_form-container js-modal-action_form-container">
            <div class="modal-action_form-close js-modal-action_form-close"><i class="bi bi-x-lg"></i></div>
            <header class="modal-action_form-header">
                <i style="margin-right: 20px;" class="bi bi-stack"></i>
                New Category
            </header>

            {{!-- block of code for add new category --}}
            <form class="modal-action_form-body" method="POST" action="/categories/store">
                <div>
                    <label for="categoryName">Category Name</label>
                    <input type="text" class="form-control" id="categoryName" name="name"  placeholder="Name of Category..." required>
                </div>
                <div>
                    <label for="categoryDescription">Category Description</label>
                    <textarea class="form-control" id="categoryDescription" name="description" placeholder="Description..." required></textarea>
                </div>
                <div>
                    <label for="TotalCourse">Total Course</label>
                    <input type="number" class="form-control" id="totalCourse" name="total"  placeholder="Total of Course..." required>
                </div>
                <button type="submit" class="btn-action">Add<i style="margin-left: 5px;" class="bi bi-check2"></i></button>
            </form>
              <footer class="modal-action_form-footer">
                <a href="#" class="cancel">Cancel</a>
                Need <a href="#">help?</a>
            </footer>
        </div>
    </div>
{{> bottom}}
</body>
</html>