<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{!-- {{> staffLayout}} --}}

    <main class="content-detail" id="content-detail">
        <a href="/{{user.role}}" class="btn btn-link fs-5">
            <i class="bi bi-arrow-return-left" style="margin-right: 5px;"></i>Back
        </a>
        <a href="/{{removeSpace user.name}}/change_password" class="btn btn-link">Change Password</a>

        <table class="table table-hover table-bordered caption-top mt-5" style="width: 100%;">
            <thead class="table-light">
                <tr style="font-size: 18px; text-align: center;">
                    <th scope="col">#</th>
                    <th scope="col" style="width: 190px;">Avatar</th>
                    <th scope="col" style="width: 150px;">Email</th>
                    <th scope="col">Full name</th>
                    <th scope="col" style="width: 80px;">Age</th>
                    <th scope="col" style="width: 130px;">Date of birth</th>
                    <th scope="col">Address</th>
                    <th scope="col" style="width: 220px;">
                        <i class="bi bi-tools fs-5"></i><span style="margin-left: 12px;">Action</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each staff}}
                <tr>
                    <th scope="row" style="text-align: center;">{{@index}}</th>
                    <td scope="col">
                        <div class="text-center">
                            <img style="width: 170px; height: 170px;" src="data:image/{{this.image.contentType}};base64,{{convertImage this.image.data}}" alt="" class="img-thumbnail">
                        </div>
                    </td>
                    <td scope="col">{{this.email}}</td>
                    <td scope="col" style="text-align: center;">{{this.name}}</td>
                    <td scope="col" style="text-align: center;">{{calculateAge this.dob}}</td>
                    <td scope="col" style="text-align: center;">{{this.dob}}</td>       
                    <td scope="col">{{this.address}}</td>
                    <td style="text-align: center;">
                        <div>
                            <button type="button" class="btn btn-success js-edit-info", style="margin-left: 30px">
                                <i class="bi bi-pencil-square"></i>
                                <a class ="underline-white" href="/staff/edit/?id={{this._id}}">
                                    <span class=" fs-6" style="margin-left: 5px;">Edit</span>
                                </a>
                            </button>
                        </div> 
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </main>

    {{> frameworkCDN}}
</body>
</html>