<!DOCTYPE html>
<html lang="en">
{{> head}}
<style>
    body {
<<<<<<< HEAD
    background:  #d6d6c2
=======
    background: rgb(245, 245, 245)
>>>>>>> d0d181fc1c6ff7536dfff628826b0a03087642e8
}
.margin{
    margin-top: -24px;
    margin-left: 80px;
}

.changeProfile-container {
        background-color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>
<body>
    {{> staffLayout}}
    <main >
    <div class="container rounded bg-white mb-5;" style="margin-top: 120px; width: 900px;">
        <a href="/{{user.role}}" class="btn btn-link fs-5">
            <i class="bi bi-arrow-return-left" style="margin-right: 5px;"></i>Back
<<<<<<< HEAD
            </a>
=======
        </a>
>>>>>>> d0d181fc1c6ff7536dfff628826b0a03087642e8

    <div class="row" style="margin-top: -25px;">
        <div class="col-md-3" style="margin-left: 150px; margin-top: 25px">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img style="width: 170px; height: 170px;" src="data:image/{{staff.image.contentType}};base64,{{convertImage staff.image.data}}" alt="" class="img-thumbnail">
                <span>{{removeSpace user.name}}</span><span class="text-black-50">{{staff.email}}</span></div>
        </div>
        <div class="col-md-5">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 style= "margin-left: 0px; color: rgb(94, 94, 94); font-size: xx-large">Profile Settings</h4>
                </div>
                <div class="row mt-3" style="margin-right: 60px;">
                    <span style="display: block; color: rgb(44, 44, 44); font-weight: 500;">
                        Age:
                    </span>
                    <span>{{calculateAge staff.dob}}</span>
                </div>
                <div class="row mt-3">
                    <span style="display: block; color: rgb(44, 44, 44); font-weight: 500;">
                        Date of birth:
                    </span>
                    <span>{{staff.dob}}</span>
                </div>
                <div class="row mt-3">
                    <span style="display: block; color: rgb(44, 44, 44); font-weight: 500;">
                        Address:
                    </span>
                    <span>{{staff.address}}</span>
                </div>
                <div class="mt-4 text-center" >
                            
                                <a class="underline-white"href="/{{removeSpace user.name}}/edit_profile?id={{staff._id}}">
                                    <button type="button" class="btn btn-outline-primary fs-5" style="font-weight: 400;">Edit Profile</button>
                                </a>
                                <a href="/{{removeSpace user.name}}/change_password">
                                    <button type="button" class="btn btn-outline-primary fs-5" style="font-weight: 400;">Change Password</button>
                                </a>
        </div>
        </div>
        </div>
    </div>
</div>
</div>
</div>
</main>
{{> bottom}}
</body>
</html>