<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <div class="container">
        <a href="/{{removeSpace user.name}}" class="btn btn-link fs-5">
            <i class="bi bi-arrow-return-left" style="margin-right: 5px;"></i>Back
        </a>
        <form action="/{{removeSpace user.name}}/store_password" method="POST">
            <div class="mb-3">
                <label for="currentP" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="currentP" name="currentP" placeholder="Your current password..." required>
                <span>{{msg2}}</span>
            </div>
            <div class="mb-3">
                <label for="newP" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newP" name="newP" placeholder="Your new password..." required minlength="6">
                <span>{{msg}}</span>
            </div>
            <div class="mb-3">
                <label for="confirmNP" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmNP" name="confirmNP" placeholder="Confirm your new password..." required minlength="6">
                <span>{{msg}}</span>
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>
</body>
</html>