<!DOCTYPE html>
<html lang="en">
{{> head}}
<style>
    main {
        background-color: rgb(238, 238, 238);
        padding: 0 14%;
        min-height: 100vh;
        overflow: hidden;
    }
    .changePassword-container {
        background-color: white;
        box-shadow: 0 8px 10px 6px rgb(228, 228, 228);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-width: 500px;
    }
    .link-cancel {
        text-decoration: none;
        margin-left: 15px;
    }
    .link-cancel:hover {
        text-decoration: underline;
    }
    label {
        cursor: pointer;
        color: rgb(44, 44, 44);
        font-weight: 500;
    }
</style>
<body>
    <main>
        <div class="changePassword-container">
            <div class="text-center" style="border-bottom: 1px solid rgb(192, 192, 192);">
                <a href="/{{user.role}}">
                    <img src="/images/header/logo.png" alt="" width="220px">
                </a>
            </div>
            <div style="width: 50%; min-width: 475px; padding: 30px 50px;">
                <span class="fs-2" style="display: block; color: rgb(94, 94, 94);">
                    Change password
                </span>
                <div class="mt-5">
                    <span style="display: block; color: rgb(44, 44, 44); font-weight: 500;">
                        User ID
                    </span>
                    <span style="display: block;">{{user.email}}</span>
                </div>
                
                <form class="mt-4" action="/{{removeSpace user.name}}/store_password" method="POST">
                    <div class="mb-3">
                        <label for="oldP" class="form-label">Old password</label>
                        <input type="password" class="form-control" id="oldP" name="oldP" placeholder="" required>
                        <span class="msg">{{msg}}</span>
                    </div>
                    <div class="mb-3">
                        <label for="newP" class="form-label">Create new password</label>
                        <input type="password" class="form-control" id="newP" name="newP" placeholder="" required minlength="6">
                        <span class="msg">{{msg2}}</span>
                    </div>
                    <div class="mb-3">
                        <label for="confirmNP" class="form-label">Confirm new password</label>
                        <input type="password" class="form-control" id="confirmNP" name="confirmNP" placeholder="" required minlength="6">
                        <span class="msg">{{msg3.s1}}</span>
                        <span class="msg">{{msg3.s2}}</span>
                    </div>
                    <div class="mt-5">
                        <button type="submit" class="btn btn-primary">Change</button>
                        <a class="link-cancel" href="/{{removeSpace user.name}}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>