<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> adminLayout}}
    <main class="content-detail" id="common_content-area">
        <h3 class="fs-4 mt-5">Accounts (~ {{total}} records)</h3>
        <div class="content-detail-header mt-4 mb-5">
            <button type="button" class="btn btn-outline-primary fs-5 js-add-info" style="font-weight: 500;">New Account</button>
            <form action="/admin/trainer-accounts/search" class="content-detail-header-search" method="GET">
                <input type="search" class="form-control" placeholder="Search by email or name..." name="q">
                <button style="width: 90px;" class="btn btn-outline-primary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        {{#if flashMsgs.success}}
            <div class="container text-center alert alert-success col-8 fs-5 mt-5" id="flashMsg">
                <span>{{flashMsgs.success}}</span>
                <i class="bi bi-x-lg" style="margin-left: 10px; cursor: pointer;" onclick="closeFlashMsg();"></i>
            </div>
        {{/if}}
        {{#if flashMsgs.error}}
            <div class="container text-center alert alert-danger col-8 fs-5 mt-5" id="flashMsg">
                <span>{{flashMsgs.error}}</span>
                <i class="bi bi-x-lg" style="margin-left: 10px; cursor: pointer;" onclick="closeFlashMsg();"></i>
            </div>
        {{/if}}
        {{#if trainers}}
            <h2 class="text-center mt-4 text-primary">List of Trainer Accounts</h2>
            <table class="table table-bordered caption-top mt-4" style="width: 100%;">
                {{!-- <caption class="fs-5"></caption> --}}
                <thead class="">
                    <tr style="font-size: 18px; text-align: center;">
                        <th scope="col">#</th>
                        <th scope="col" style="min-width: 190px;">Avatar</th>
                        <th scope="col">Email</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">
                            <i class="bi bi-tools fs-5"></i><span style="margin-left: 12px;">Actions</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each trainers}}
                        <tr>
                            <th scope="row" style="text-align: center;">{{@index}}</th>
                            <td scope="col">
                                <div class="text-center">
                                    <a href="/admin/trainer-account/{{this._id}}">
                                        <img style="width: 170px; height: 170px;" src="data:image/{{this.image.contentType}};base64,{{convertImage this.image.data}}" alt="" class="img-thumbnail">
                                    </a>
                                </div>
                            </td>
                            <td scope="col" class="text-center">{{this.email}}</td>
                            <td scope="col" style="text-align: center;">{{this.name}}</td>
                            <td scope="col" style="text-align: center;">{{this.code}}</td>
                            <td style="text-align: center; width: 34%;">
                                <a href="/admin/trainer-accounts/edit?id={{this._id}}" class="btn btn-primary js-edit-info mb-1">
                                    <i class="bi bi-pencil-square"></i>
                                    <span class=" fs-6" style="margin-left: 5px;">Edit</span>
                                </a>
                                <a href="#" class="btn btn-danger mb-1" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-item-modal">
                                    <i class="bi bi-x-lg"></i>
                                    <span class=" fs-6" style="margin-left: 5px;">Delete</span>
                                </a>
                                <a href="/admin/trainer-accounts/passwords/set_default?id={{this._id}}" class="btn btn-warning mb-1">
                                    <i class="bi bi-gear"></i>
                                    <span class=" fs-6" style="margin-left: 5px;">Set default password</span>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <div class="text-center fs-3" style="margin-top: 140px; color: #198754;">
                <span>No results found for query "{{q}}"</span>
            </div>
        {{/if}}
    </main>

    <div class="modal-action_form js-modal-adding_form" style="{{attr}}">
        <div class="modal-action_form-container js-modal-action_form-container">
            <div class="modal-action_form-close js-modal-action_form-close"><i class="bi bi-x-lg"></i></div>
            <header class="modal-action_form-header">
                <i style="margin-right: 20px;" class="bi bi-person-plus"></i>
                New Account
            </header>
            
            <form class="modal-action_form-body" method="POST" action="/admin/trainer-accounts/store" enctype="multipart/form-data" onsubmit="return validateTrainerAcc();">
                <div>
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your email..." minlength="12" maxlength="40" required>
                    <span class="msg" id="email-msg">{{msg.s1}}</span>
                </div>
                <div>
                    <label for="name" class="form-label">Full name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your full name..." minlength="5" maxlength="30" required>
                    <span class="msg" id="name-msg"></span>
                </div>
                <div>
                    <label for="code" class="form-label">Code</label>
                    <input type="text" class="form-control" name="code" id="code" placeholder="Your code..." minlength="4" maxlength="20" required>
                    <span class="msg" id="code-msg">{{msg.s2}}</span>
                </div>
                <div>   
                    <label for="specialty" class="form-label">Specialty</label>
                    <input type="text" class="form-control" name="specialty" id="specialty" required placeholder="Your specialty..." minlength="2" maxlength="20">
                    <span class="msg" id="specialty-msg"></span>
                </div>
                <div>
                    <label for="address" class="">Address</label>
                    <textarea type="text" class="form-control" name="address" id="address" placeholder="Your address..." minlength="6" maxlength="100" required></textarea>
                    <span class="msg" id="address-msg"></span>
                </div>
                <div>   
                    <label for="dob" class="">Date of birth</label>
                    <input type="date" class="form-control" name="dob" id="dob" required>
                </div>
                <div>
                    <label for="btn-add-img" class="form-label">Upload</label>
                    <input class="form-control" type="file" id="btn-add-img" name="image" accept="image/*">
                </div>
                <div class="text-center">
                    <label for="previewImage" class="form-label">Avatar</label>
                    <img style="width: 170px; height: 170px;" id="previewImage" name="avatar" src="" class="img-thumbnail" alt="">
                </div>
                <button type="submit" class="btn-action">
                    Add<i style="margin-left: 5px;" class="bi bi-check2"></i>
                </button>
            </form>

            <footer class="modal-action_form-footer">
                <a href="/admin/trainer-accounts" class="cancel">Cancel</a>
                Need <a href="#">help?</a>
            </footer>
        </div>
    </div>

    <div class="modal fade" id="delete-item-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <i class="bi bi-exclamation-triangle fs-3" style="color: red; margin-left: 10px;"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this account?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-delete-item" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <form name="delete-item-form" action="/admin/trainer-accounts/delete">
        <input type="hidden" name="id" value="">
    </form>

    <script>
        activateModalAddingForm();
        previewImage();
        confirmItemDeletion();
    </script>

{{> frameworkCDN}}
</body>
</html>