<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .active {
            background-color: black !important;
        }
    </style>
</head>

<body>
    {{> header}}
    <div class="container">
        <h1>This is {{course.name}} course</h1>
        <div class="d-flex justify-content-between">
            <div>
                <form method="get" action="/trainer/searchtrainees/{{course.id}}">
                    <input type="text" name="search">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <table class="table table-hover">
            <thead class="bg-warning text-center">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody class='text-center'>
                {{#if trainees}}
                {{#each trainees}}
                <tr>
                    <th>{{sum @index}}</th>
                    <td>{{this.name}}</td>
                    <td class='text-center'><img src="/images/{{this.avatar}}" alt="avt" width="100" height="120"></td>
                    <td>{{this.age}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.phone}}</td>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">No students found</td>
                </tr>
                {{/each}}
                {{else}}
                {{#if trainee}}
                <tr >
                    <th>1</th>
                    <td>{{trainees.name}}</td>
                    <td class='text-center'><img src="/images/{{this.avatar}}" alt="avt" width="100" height="120"></td>
                    <td>{{trainees.age}}</td>
                    <td>{{trainees.email}}</td>
                    <td>{{trainees.phone}}</td>
                </tr>
                </tr>
                {{else}}
                <tr>
                    <td colspan='6' class='text-center'>Can't find this students</td>
                </tr>
                {{/if}}
                {{/if}}
            </tbody>
        </table>
    </div>
    {{> footer}}

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>