<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> traineeLayout}}

    <main class="content-detail" id="common_content-area">
        <a href="/seeall" type="button" class="btn btn-link fs-5">
            <i class="bi bi-arrow-return-left" style="margin-right: 5px;"></i>Back
        </a>
        <form class="row g-3 mt-4" method="POST" action="/seeall/update/?id={{data._id}}">
            <div class="col-md-6">
                <label for="coursecategory" class="form-label">Course Category</label>
                <input type="coursecategory" class="form-control" id="coursecategory" value="{{data.coursecategory}}"  name="coursecategory" placeholder="Course Category..." required>
            </div>
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="name" class="form-control" value="{{data.name}}" id="name" name="name" placeholder="Name of Category..." required>
            </div>
            <div class="col-md-6">
                <label for="inputAddress2" class="form-label">Trainer</label>
                <input type="text" class="form-control" value="{{data.trainer}}" id="trainer" name="trainer" placeholder="Trainer of course">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Total</label>
                <input type="number" class="form-control" value="{{data.total}}" id="totalCourse" name="total"  placeholder="Total of Course..." required>
            </div>
            {{!-- <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select name="" id="inputState" class="form-select">
                    <option value="{{id}}">IT</option>
                    <option value="{{id}}">Business</option>
                    <option value="{{id}}">ABC</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div> --}}
            <div class="col-12 mt-5">
                <button type="submit" class="btn btn-primary fs-5" style="font-weight: 500;">Update
                    <i class="bi bi-check2 fs-5"></i>
                </button>
            </div>
        </form>
    </main>

{{> bottom}}
</body>
</html>