<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> traineeLayout}}

    <main class="content-detail" id="">
        <a href="/{{user.role}}" class="btn btn-link fs-5">
            <i class="bi bi-arrow-return-left" style="margin-right: 5px;"></i>Back
        </a>
        <a href="/{{removeSpace user.name}}/change_password" class="btn btn-link">Change Password</a>
        
        <table class="table table-hover table-bordered caption-top mt-5">
            {{!-- <caption class="fs-5"></caption> --}}
            <thead class="table-light">
                <tr style="font-size: 18px; text-align: center;">
                    <th scope="col">#</th>
                    <th scope="col" style="width: 190px;">Image</th>
                    <th scope="col" style="width: 150px;">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col" style="width: 130px;">Date of birth</th>
                    <th scope="col">Address</th>
                    <th scope="col">Education</th>
                    <th scope="col">
                        <i class="bi bi-tools fs-5"></i><span style="margin-left: 12px;">Action</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each trainee}}
                <tr>
                    <th scope="row" style="text-align: center;">{{@index}}</th>
                    <th scope="col">
                        <img style="width: 170px; height: 170px;" src="data:image/{{this.image.contentType}};base64,{{convertImage this.image.data}}" alt="">
                    </th>
                    <th scope="col">{{this.email}}</th>
                    <th scope="col" style="text-align: center;">{{this.name}}</th>
                    <th scope="col" style="text-align: center;">{{this.dob}}</th>
                    <th scope="col">{{this.address}}</th>
                    <th scope="col">{{this.education}}</th>
                    <td style="text-align: center;">
                        <div>
                            <button type="button" class="btn btn-success js-edit-info", style="margin-left: 30px">
                                <i class="bi bi-pencil-square"></i>
                                <a class ="underline-white" href="/Trainee/edit/?id={{this._id}}">
                                    <span class=" fs-6" style="margin-left: 5px;">Edit</span>
                                </a>
                            </button>
                        </div> 
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </main>
{{> bottom}}
</body>
</html>